.foodHeader{
  color: #ff4e6e;
  text-align: center;
  padding-bottom: 37px;
}
.foodItems{
  color: black;
  text-align: center;
}
.foodInfo{
  color: grey;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 18px;
}
.foodHolder {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 1px;
  background-color: #ff4e6e;
  margin: 0 auto;
  margin-bottom: 43px;
}
.foodPrice{
  text-align: center;
}
#space{
  height: 40px;
  width: 100%;
}
