#extraSpace{
  width: 100%;
  height: 50px;
}
.bubble {
  position: relative;
  height: 185px;
  padding: 0px;
  background: black;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.reviewContainer{
  margin-bottom: 40px;
}
.review{
  text-align: center;
  color: white;
}
.reviewPerson{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 50px;
}
.reviewName{
  color: black;
  float: right;
  margin-right: 47px;
  padding-top: 65px;
}
